.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar select {
    float: left;
    display: block;
    color:  #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    line-height: 0.4em !important;
    width: auto;
    height: auto;
    padding: 10px;
    font: 0.6em sans-serif;
    /*font-weight: bold;*/
    background: white;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}